[user]
	name = <name>
	email = <email>
[merge]
	ff = false
[fetch]
	prune = true
	pruneTags = true
[pull]
	rebase = true
[alias]
	cleanup = "!f() { git branch -D $(git branch -vv | grep ': entfernt]' | awk '{print $1}'); }; f"
	pushu = "!f() { git push --no-verify -u origin $(git branch --show-current); }; f"
[difftool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
